body{
    background-color: rgba(128, 128, 128, 0.486);
}
.three{
    display: flex;
padding-left: 180px;
    margin-left: auto;
    
}
.four {
    display: flex;
    margin-left: 250px;
    margin-top: 140px;
   
}
.first{
    width: 150px;
    height: 150px;
    background-color: blue;
    margin-right: 60px;
    transition: ease 2s;

    
}
.first:hover {
    transform: translate(50px, 100px);

}
.second:hover{
    transform: scale(0.5, 0.5);
}
.second{
    width: 150px;
    height: 150px;
    background-color:green;
    margin-right: 60px;
    transition: 2s;
}

.third:hover{
    transform: rotate(360deg);
}
.third{
    width: 150px;
    height: 150px;
    background-color: red;
    margin-right: 60px;
    transition: ease-out 2s;
}
.fourth{
    width: 150px;
    height: 150px;
    background-color: brown;
    margin-right: 60px;
    transition-delay: 1s;
}
.fourth:hover{
    transform: rotate(-90deg);
}
.fifth:hover{
    transform: scaleX(2);
}
.fifth{
    width: 150px;
    height: 150px;
    background-color: black;
    margin-right: 20px;
    transition: linear ;
}
.sixth:hover{
    transform: scaleY(2);
}
.sixth{
    width: 150px;
    height: 150px;
    margin-right: 60px;
    background-color: white;
    transition-delay: 2s;
    transition-delay: 1s;

}
.seventh:hover{
    transform: scaleY(2);
}
.seventh{
    width: 150px;
    height: 150px;
    background-color: rgb(160, 8, 140);
    margin-right: 60px;
    transition-duration: 0.5s;
}
